{% if user.is_authenticated %}
    <div class="services-staff">
        <div style="margin-top: 20px;" class="d-flex justify-content-center conatainer">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center mt-4">
                    <a href="{% url 'bill-amount' %}" class="btn btn-services">Print Bill Amount</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center mt-4">
                    <a href="{% url 'digital-menu' %}" class="btn btn-services">Digital Menu</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center mt-4">
                    <a href="{% url 'table-management' %}" class="btn btn-services">Table Management</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center mt-4">
                    {% if user.is_superuser %}<a href="{% url 'admin:index' %}" class="btn btn-services">Go to Admin Panel</a> {% else %} <a class="btn btn-services"> Coming Soon... </a>{% endif %}</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center mt-4">
                    {% if user.is_superuser %}<a href="{% url 'accounts-manage' %}" class="btn btn-services">Accounts</a> {% else %} <a
                        class="btn btn-services"> Coming Soon... </a>{% endif %}</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center mt-4">
                    <a href="{% url 'place-order' %}" class="btn btn-services">Place Order</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div style="flex-direction: column; margin-top: 20px;" class="staff-login d-flex justify-content-center align-items-center">
        <h2 style="color: #fff;">Please Login with your staff Id to Continue.</h2>
        <form class="d-flex flex-column align-items-center" method="post">
            {% csrf_token %}
            <input style="width: auto; height:auto; max-width: 100%;" class="form-control mt-2 me-2" name="username" type="text" placeholder="Your Username here...">
            <input style="width: auto; height:auto; max-width: 100%;" class="form-control mt-2 me-2" name="password" type="password" placeholder="Your Password here...">
            <button class="btn btn-outline-primary mt-2" type="submit">Log In</button>
        </form>
    </div>
{% endif %}